// Import normalize and base styles
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/81545d957282b467cd748029b4e4d18e?family=Vasek);
@import 'normalize';
@import 'root';

.container {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    background-image: url("../img/hero.png");
    background-size: 100%;
    background-repeat: no-repeat;
    // min-height: 150vh;

    .container {
        min-height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.main__btn-outline {
    padding: 12px 30px;
    color: #fff;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 72%;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: $gold;
        color: #fff;
        border-color: $gold;
    }
}

.main__btn-gold {
    padding: 12px 50px;
    color: #fff;
    background: $gold;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 72%;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
    min-width: 300px;
    max-height: 48px;

    &:hover {
        background-color: $gold_1;
    }
}

.main__btn-card {
    padding: 12px 50px;
    color: #fff;
    background: #212121;
    font-family: "Alumni Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 72%;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
    min-width: 100%;
    max-height: 48px;

    &:hover {
        background-color: $gold_1;
    }
}

.navbar {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brand {
        img {
            max-width: 100px;
        }
    }

    &__links {
        display: flex;
        gap: 40px;

        ul {
            display: flex;
            gap: 25px;

            a {
                font-size: 13px;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
                color: #fff;
                transition: all 200ms ease-in-out;
                padding-bottom: 5px;

                &:hover {
                    color: $gold;
                }
            }
        }
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__menu-language {
        display: flex;
        gap: 10px;
        align-items: center;

        a {
            color: #fff;
            font-family: "Alumni Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 72%;
            text-transform: uppercase;
            transition: all 200ms ease-in-out;

            &:hover {
                color: $gold;
            }
        }
    }

    &__menu-language-active {
        color: $gold !important;
    }

    &__block-cart {
        position: relative;

        span {
            position: absolute;
            right: -12px;
            top: 5px;
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: 9%;
            text-transform: uppercase;
            background-color: $gold;
            color: #fff;
            border-radius: 100%;
            padding: 5px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

.slider {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 130px;
    }

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &__arrows {
        position: absolute;
        bottom: -50px;
        left: -74px;

        p {
            max-width: 337px;
            font-size: 13px;
            font-family: "Be Vietnam Pro", sans-serif;
            line-height: 120%;
            text-transform: uppercase;
            color: #fff;
            margin: 20px 0;
        }
    }

    &__arrows-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        button {
            svg {
                cursor: pointer;
                transition: all 200ms ease-in-out;

                &:hover {
                    rect {
                        transition: all 400ms ease-in-out;
                        fill: #fff;
                    }

                    path {
                        transition: all 400ms ease-in-out;
                        fill: #212121;
                    }
                }
            }
        }

        h3 {
            font-family: "Be Vietnam Pro", sans-serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 94%;
            letter-spacing: -3px;
            color: #fff;
        }
    }

    &__content {
        position: relative;
        display: flex;
        gap: 30px;
    }

    &__content-left {
        position: absolute;
        right: 0;
        bottom: -50px;

        img {
            max-width: 220px;
        }
    }
}

.about {
    padding: 100px 0;

    &__text-wrapper-first {
        display: flex;
        margin: 20px 0;
    }

    &__text-wrapper-first-left {
        width: 20%;
    }

    &__text-wrapper-first-right {
        width: 80%;

        p {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            font-size: 92px;
            line-height: 94%;
            letter-spacing: -3px;
            color: #212121;

            span {
                color: $gold;
                font-size: 84px;
            }
        }
    }

    &__text-wrapper-second {
        display: flex;
    }

    &__text-wrapper-second-left {
        width: 47%;
    }

    &__text-wrapper-second-right {
        width: 53%;

        p {
            max-width: 527px;
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 9%;
            text-transform: uppercase;
            color: #212121;
            margin: 20px 0;
        }
    }
}

.work {
    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;

        h2 {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 800;
            font-size: 112px;
            line-height: 72%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #212121;
        }
    }

    &__slider-wrapper {
        position: relative;
        margin: 40px 0;
    }

    &__slider-arrows-wrapper {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 40px auto;

        button {
            cursor: pointer;
            transition: all 200ms ease-in-out;
            width: 48px;
            height: 48px;

            svg {
                display: block;

                rect {
                    transition: all 200ms ease-in-out;
                }

                path {
                    transition: all 200ms ease-in-out;
                }
            }

            &:hover {
                svg {
                    rect {
                        fill: $gold;
                    }

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

// Swiper styles
.workSwiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}

.services {
    background-image: url("../img/services.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
    margin: 250px 0;
    min-height: 1700px;

    &__content {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }

    &__intro {
        margin-top: 60px;

        h2 {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 700;
            font-size: 233px;
            line-height: 72%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            white-space: nowrap;

            span {
                margin-top: 100px;
            }
        }
    }

    &__table {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__table-item-wrapper {
        h2 {
            color: $gold;
            font-family: "Vasek", sans-serif;
            font-style: italic;
            font-size: 64px;
            line-height: 160%;
            letter-spacing: 3%;
            margin-left: -60px;
        }
    }

    &__table-item-wrapper-list {
        display: flex;
        justify-content: space-between;
        gap: 70px;
        color: #fff;
        margin: 10px 0;

        p {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 600;
            font-size: 40px;
            line-height: 72%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__table-item-wrapper-list-item {
        display: flex;
        justify-content: space-between;
        min-width: 250px;
        gap: 50px;

        p {
            font-family: "Alumni Sans", sans-serif;
            font-size: 40px;
            line-height: 72%;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;

            &:nth-child(1) {
                color: #9C9C9C;
            }
        }
    }

    &__book {
        margin: 50px auto;
        display: flex;
        justify-content: center;
        position: relative;

        img {
            position: absolute;
            left: 15%;
            top: -350%;
            max-width: 278px;
        }
    }

}

.products {

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 6px solid #212121;
        width: 100%;
        max-width: 100%;
        padding: 0 30px 50px 30px;

        h2 {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 800;
            font-size: 112px;
            line-height: 72%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #212121;
        }
    }

    &__slider-wrapper {
        margin: 50px 0;
        position: relative;
    }

    &__slider-item {
        max-width: 490px;
    }

    &__slider-item-head {
        a {
            font-family: "Be Vietnam Pro";
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            text-decoration: none;

            span {
                text-decoration: underline;
            }
        }
    }

    &__slider-item-intro {
        display: flex;
        justify-content: space-between;

        h3 {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 96%;
            text-transform: uppercase;
            color: #212121;
        }

        p {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #212121;
        }
    }

    &__slider-item-subtitle {
        margin: 20px 0;
        max-height: 120px;
        min-height: 120px;
        height: 100%;

        p {
            font-family: "Be Vietnam Pro", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #212121;
        }
    }

    &__slider-arrows-wrapper {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 40px auto;

        button {
            cursor: pointer;
            transition: all 200ms ease-in-out;
            width: 48px;
            height: 48px;

            svg {
                display: block;

                rect {
                    transition: all 200ms ease-in-out;
                }

                path {
                    transition: all 200ms ease-in-out;
                }
            }

            &:hover {
                svg {
                    rect {
                        fill: $gold;
                    }

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

// Swiper styles for products
.productsSwiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
        height: auto;
    }
}

.team {
    min-height: 3168px;
    background-image: url("../img/team.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 250px;
    padding: 250px 0;

    &__bio-intro {
        margin-top: 140px;
        h2 {
            font-family: "Alumni Sans", sans-serif;
            font-weight: 800;
            font-size: 112px;
            line-height: 72%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__bio-cards {
        margin-top: 70px;
        position: relative;
        img {
            max-width: 920px;
        }
    }
    &__bio-person {
        img {
            position: absolute;
            right: 0;
            top: -60%;
            max-width: 700px;
        }
    }
}